/* -------------------------------------
         body-css
------------------------------------- */


/* body, html {
    font-family: 'Arial', sans-serif;
    background-color: #b4e0d4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
} */

body {
    display: flex;
    /* background-color: #b4e0d4; */
    
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes at least the full viewport height */
}


main {
    /* flex: 1;  */
    /* padding: 20px;  */
    
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}


.background {
    background-color: rgb(178, 217, 143);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    background-image: url('../../public/images/elimu.png'); /* Replace with your background image */
    background-size: cover;
    background-size:50% 50%;
    background-repeat: no-repeat;

    background-position: center;
    opacity: 0.5; 
    z-index: -1; /* Ensure it's behind other content */
}


/* modifies */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px; 
    background-color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.logo-left, .logo-right {
    flex-shrink: 0; /* Prevent logos from shrinking or expanding */
}

.header h1 {
    flex-grow: 1; /* Allow the h1 to take up remaining space */
    font-size: 2vw;
    text-align: center; /* Center the h1 */
    margin: 0;
}

.logo-left img, .logo-right img {
    height: 100px;
    width: 100px;
}

h1 {
    color: rgba(2, 82, 2, 0.99);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .header {
        height: auto; /* Let height adjust automatically */
        padding: 10px;
    }

    .header h1 {
        font-size: 4vw; /* Adjust the font size for smaller screens */
    }

    .logo-left img, .logo-right img {
        height: 80px; /* Reduce logo size on smaller screens */
        width: 80px;
    }
}


/* .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px; 
    background-color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    z-index: 1000; 
}

.header h1{
    font-size: 31px;
    text-align: center;
}

.logo-left img, .logo-right img {
    height: 100px; 
}

.logo-left {
    margin-left: 0; 
}

.logo-right {
    margin-right: 0; 
}

h1{
    color: rgba(2, 82, 2, 0.99);
} */


.ml-6 {
    display: flex;
    justify-content: center;
    margin-top: 150px; /* Added margin to prevent content overlap with fixed header */
}

.photo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Added margin-top to ensure it's below the header */
}

.photo > div {
    flex-basis: 33.33%;
    text-align: center;
}

.photo img {
    width: 90px;
    height: 90px;
    margin: 10px;
}

.photo h1 {
    text-align: center;
}



/* marque css*/
.moving-text {
    padding-top: 25px;
    text-align: center;
    animation: move-text 20s infinite linear;
   
  }
  
  @keyframes move-text {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
/* -------------------------------------
         slider-css
------------------------------------- */
   
    .slider-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 500px; /* Adjust the height as needed */
        overflow: hidden;
        display: flex; /* Enables flexbox layout */
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically */
    }
    
    .image-bar {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 200px;
        margin-top: 150px;
    }
    
    .image-slide {
        position: absolute;
        width: 80%;
        height: 70%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .image-slide.active {
        opacity: 1;
    }
    
    .image-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the entire slide area */
    }
    
    .text-overlay {
        position: absolute;
        bottom: 20px; /* Adjust as necessary */
        left: 20px;
        color: white;
        font-size: 10px;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
        padding: 10px;
        border-radius: 5px;
    }


    .carousel-item {
        position: relative; /* To position the overlay correctly */
    }
    
    .carousel-item::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%; /* Adjust to control the size of the gradient */
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        z-index: 1; /* Make sure the gradient is below the text */
    }
    
    .carousel-caption {
        position: absolute;
        bottom: 20px; /* Position the caption text at the bottom */
        z-index: 2;   /* Ensure the text is above the gradient */
        color: #fff;  /* Set text color to stand out against the gradient */
    }
    

    /* .overlay-gradient {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
                   ;
        background-size: cover;
        background-position: center;
        height: 520px;
        width: 100%;
    } */

    
/* -------------------------------------
         button-css
------------------------------------- */

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* Blue background */
    border: none;
    border-radius: 5px; /* Rounded corners */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.button:active {
    background-color: #00408d; /* Even darker blue when button is clicked */
    transform: scale(0.95); /* Slightly shrink the button on click */
}

.button:disabled {
    background-color: #ccc; /* Gray background for disabled button */
    cursor: not-allowed;
}


/* -------------------------------------
         login-css
------------------------------------- */
/* #log{
    background-color: rgb(96, 224, 198);
    background-image: url('../../public/images/IMG13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    padding: 90px;
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
   
}
#log >p{
    color: white;
    padding: 2%;
    font-size: 36px;
    margin-top: 30vh;
}
#Alog{
    padding: 90px;
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
   
}

#Alog >p{
    color: white;
    padding: 1%;
    font-size: 30px;
    margin-top: 30vh;
}
.login-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.login-container a {
    color: #007bff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.login-container a:hover {
    text-decoration: none;
} */
 /* For the background container */
#log {
    background-image: url('../../public/images/IMG13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container input[type="email"], 
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #218838;
}

.login-container input[type="checkbox"] {
    margin-right: 5px;
}

.login-container label {
    font-size: 14px;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.text-danger {
    color: red;
    font-size: 12px;
}

.toggle-password i {
    font-size: 1.2rem;
    color: #000; 
}

.toggle-password i:hover {
    color: #007bff; 
}



/* -------------------------------------
         register-css
------------------------------------- */

/* .form-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #218838;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus,
.form-container select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.form-container a {
    color: #007bff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.form-container a:hover {
    text-decoration: underline;
} */

  /* Styling for the registration form */
  /* #log {
    background-color: rgb(96, 224, 198);
    background-image: url('../../public/images/IMG13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    padding: 90px;
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
} */

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    overflow: auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container a {
    color: #007bff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

/* Styling the eye icon */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 12px; /* Adjust this for vertical alignment */
}

.toggle-password i {
    font-size: 1.2rem;
    color: #000;
}

.toggle-password i:hover {
    color: #007bff;
} 





/* footer */
.footer{
    background-color: rgba(13, 91, 12, 0.976);
    padding-left: 12%;
}

/* icon css */

.fa{
    color: rgba(13, 91, 12, 0.976);
}
.icon{
    color: rgba(255, 255, 255, 0.976);
}

.padding{
    padding: 20% 35%;
    background-image: url('../../public/images/subjectbg.png');
    background-size: cover; 
    background-position: fixed;
    background-repeat: no-repeat; 
    height: 100%; 
    width: 100%;
    
}

/* sidebar css */

.sidebarMenu{
    background-color: #ad2828;
}

/* .sidebar {
    /* background-color: rgb(220, 224, 96); 
    width: 200px;
    position: fixed;
    height: 100%;
    padding-top: 2px;
  } */
  
  /* .sidebar a {
    color: white;
    padding: 10px;
    display: flex; 
    align-items: center; 
    text-decoration: none;
  } */
  
  /* .sidebar a i { 
    margin-right: 10px; 
  }
   */
  /* .sidebar a:hover {
    background-color: #4CAF50;
  } */
  
  /* .sidebar a span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  } */
  

  .welcome-message {
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
    padding: 20px;
    border-radius: 10px;
}

.card i {
    float: right;
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.list-group-item i {
    margin-right: 10px;
}


#subject_id, #class_id {
   padding: 2px;
}

.link{
    color: #ad2828;
}

.padding-c{
    padding: 20% 35%;
    background-image: url('../../public/images/class.jpeg');
    background-size: cover; 
    background-position: fixed;
    background-repeat: no-repeat; 
    height: 100%; 
    width: 100%;
    
}
.Apadding-c{
    padding: 20% 35%;
    /* background-image: url('../../public/images/class.jpeg');
    background-size: cover; 
    background-position: fixed;
    background-repeat: no-repeat;  */
    height: 100%; 
    width: 100%;
    
}

.sub{
    /* background-color: rgb(96, 224, 198); */
    /* background-image: url('../../public/images/bg4.jpg'); */
    /* background-image: url('../../public/images/sub.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed; */
    padding: 90px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
   
}

.sub >p{
    color: #4CAF50;
    padding: 2%;
    font-size: 36px;
    margin-top: 30vh;
}

.Tsub{
    /* background-color: rgb(96, 224, 198); */
    /* background-image: url('../../public/images/bg4.jpg'); */
    /* background-image: url('../../public/images/Tsub.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed; */
    padding: 90px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
   
}

.Tsub >p{
    color: white;
    padding: 2%;
    font-size: 36px;
    margin-top: 10vh;
    margin-bottom: 30vh;
    border: 2px solid red;
    border-radius: 5px;

    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

/* .Dashboard{
    background-color: rgb(96, 224, 198);
    background-image: url('../../public/images/online.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    padding: 90px;


} */

/* todo list */
.to_do_list_custom{
    list-style: none;
    padding: 0;
}

.to_do_list_custom li {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px; 
}

.text {
    margin-left: 10px; 
    flex-grow: 1;
}

.custom-dashboard{
    background-image: url('../../public/images/online.jpg'); 
    background-size:cover; 
    background-position:center;

   
}

.custom-student{
    background-image: url('../../public/images/online.jpg'); 
    background-size:cover; 
    background-position:center;
}


/* blog */
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-list {
    height: 672px;
    overflow: auto; 
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    height: 600px;
    overflow: auto;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}  

@media only screen and (max-width: 767px) {
        .chat-list {
        height: 465px;
        
    }
    .chat-app .people-list {
        width: 100%;
        overflow-x: auto;
        background: #fff;
        position: relative;
        boader-bottom: 2px dashed #d1d1d1;
    }


    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

  

